# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/
*.log

# IDE
.vscode/
.idea/
*.swp

# Ambiente
.env
.env.local

# Dati
data/
*.zip
*.vtk
*.vtu
*.vtp

# OS
.DS_Store
Thumbs.db